@model AdvancedProgramming_Lesson1.Models.Warzywa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Warzywa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ_warzywa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ_warzywa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_siewu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_siewu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_zbioru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_zbioru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
